=render 'posts/header'

.profile-container
  .profile-content
    .profile-content__top
      プロフィールの編集
    .profile-content__edit
      = form_with model: @user,  local: true do |f|
        -if @user.image.present?
          .profile-content__edit__image
            = f.label :image, class: "image-label", id: 'user_img' do
              = image_tag @user.image.to_s, alt: "プロフィール画像",size: "80x80", class: 'edit-icon'
              = f.file_field :image ,class: 'file'
          .profile-content__edit__nickname
            = f.text_field :nickname, class: 'edit-nickname',value: @user.nickname
            新しいニックネーム
          .profile-content__edit__email
            = f.email_field :email, class: 'edit-email'
            新しいメールアドレス
          .profile-content__edit__password
            = f.password_field :password, class: 'edit-password'
            新しいパスワード
          .profile-content__edit__password-confirmation
            = f.password_field :password_confirmation, class: 'password_confirmation'
            新しいパスワード確認
        -else
          .profile-content__edit__image
            = f.label :image, class: "image-label", id: 'user_img' do
              = image_tag "/images/noimage.jpeg", alt: "プロフィール画像",size: "80x80", class: 'edit-icon'
              = f.file_field :image ,class: 'file'
          .profile-content__edit__nickname
            = f.text_field :nickname, class: 'edit-nickname',value: @user.nickname
            新しいニックネーム
          .profile-content__edit__email
            = f.email_field :email, class: 'edit-email'
            新しいメールアドレス
          .profile-content__edit__password
            = f.password_field :password, class: 'edit-password'
            新しいパスワード
          .profile-content__edit__password-confirmation
            = f.password_field :password_confirmation, class: 'edit-password-confirmation'
            新しいパスワード確認
        .profile-content__edit__bottom
          = f.submit '変更する', class: 'edit-send'

      
    
