=render 'posts/header'

.user-details-container
  .user-details-content
    .user-details-content__profile
      -if current_user.image.present?
        .user-details-content__profile__image
          = image_tag @user.image.to_s, size: "150x150", class: 'mypage__icon'
      - else
        .user-details-content__profile__image
          = image_tag "/images/noimage.jpeg", alt: "プロフィール画像",size: "150x150", class: 'mypage__icon'
      .user-details-content__profile__name
        = @user.nickname
      .user-details-content__profile__follow
        = render 'relationships/follow_button', user: @user
      -# .user-details-content__profile__follow-count
      -#   .followings
      -#     = @user.followings.count
      -#     フォロー
      -#   .followers
      -#     = @user.followers.count
      -#     フォロワー
    .user-details-content__right
      .user-details-content__right__top
        .user-details-content__right__top__post
          = link_to user_path(@user), class: 'btn btn-default' do
            %h1 投稿
            -# .title
            -#   投稿
            -# .count
            -#   = @user.posts.count
        .user-details-content__right__top__like
          = link_to favorites_user_path, class: 'btn btn-default' do
            %h1 いいねした投稿
        .user-details-content__right__top__following
          = link_to followings_user_path, class: 'btn btn-default' do
            %h1 フォロー
        .user-details-content__right__top__followers
          = link_to followers_user_path, class: 'btn btn-default' do
            %h1 フォロワー
      .user-details-content__right__content
        .user-details-content__right__content__top
          %h3 投稿
        .user-details-content__right__content__center
          - @posts.each do |post|
            .show-postlist
              .showside-photo
                -if current_user.image.present?
                  = image_tag @user.image.to_s, size: "120x120", class: 'mypage__icon'
                - else
                  = image_tag "/images/noimage.jpeg", alt: "プロフィール画像",size: "120x120", class: 'mypage__icon'
              .showpost
                = link_to post.title, post_path(post.id), class: "showpost--title"
              .showlike
                .showlike__count
                  いいね件数:
                  = post.likes.count
                .showlike__form
                  - if current_user.already_liked?(post)
                    .showlike__form__delite
                      = button_to 'いいねを取り消す', post_like_path(post), method: :delete
                  -else
                    .showlike__form__addition
                      = button_to 'いいね', post_likes_path(post)