=render 'posts/header'

.main-container
  .slick-content
    .article-rank
      .rank-title
        人気の記事
      %ul.contents
        %li.contents__left
          日付
        %li.contents__center
          タイトル
        %li.contents__right
          ニックネーム
      - @all_ranks.each do |post|
        %ul.postlist
          %li.date
            = post.created_at.strftime('%-m/%-d')
          %li.post
            = link_to post.title, post_path(post.id), class: "post--title"
          %li.nickname
            = link_to post.user.nickname, user_path(post.user), class: "nickname--user"
    .article-new
      .new-title
        新着記事
      %ul.contents
        %li.contents__left
          日付
        %li.contents__center
          タイトル
        %li.contents__right
          ニックネーム
      - @all_ranks.each do |post|
        %ul.postlist
          %li.date
            = post.created_at.strftime('%-m/%-d')
          %li.post
            = link_to post.title, post_path(post.id), class: "post--title"
          %li.nickname
            = link_to post.user.nickname, user_path(post.user), class: "nickname--user"
  .right-content
    - if user_signed_in?
      .right-content__signed-in
        .mypage
          = link_to "マイページ", user_path(current_user), class: "mypage--link"
        %ul.contents
          %li.contents__left
            日付
          %li.contents__center
            タイトル
          %li.contents__right
            ニックネーム
        - @posts.each do |post|
          %ul.postlist
            %li.date
              = post.created_at.strftime('%-m/%-d')
            %li.post
              = link_to post.title, post_path(post.id), class: "post--title"
            %li.nickname
              = link_to post.user.nickname, user_path(post.user), class: "nickname--user"
    - else
      .right-content__signed-out
        .advertising
          ユーザー紹介
        .user-list
          - @all_user.each do |user|
            .user-line
              .introduction-photo
                -if user.image.present?
                  = image_tag user.image.to_s, size: "50x50", class: 'mypage__icon'
                - else
                  = image_tag "/images/noimage.jpeg", alt: "プロフィール画像",size: "50x50", class: 'mypage__icon'
              .introduction-nickname
                = link_to user.nickname, user_path(user), class: "introduction-nickname--title"
